html,body{ 
    height: 99vh;
}


nav { display: flex;
flex-direction: row;
justify-content: space-between;
}

img { width:290px;  
}

main{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
body{ 
    display: flex;
flex-direction: column;
justify-content: space-between;}

footer{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60px;
    background-color: grey;
    
    align-items: center;
    
    
    
}

button{ 
    background-color: blue; 
    color: white; 
    border: none; 
    text-align: center; 
    padding: 10px 15px;
    border-radius: 8px;
    width: 90px;

 }
a { color: black;
    
} 
.search{ width: 400px;
    height: 20px
}

